<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin: -5%;padding: 10%;padding-left: 18%;">
            <div class="panel panel-primary" id="paneledit">
                <div class="panel-heading">
                    <strong>Giriş Yap</strong>
                </div>
                <div class="panel-body">

                    <form action="/users/login" method="POST">
                        <br>
                        <div class="input-group">

                            <span class="input-group-addon" aria-hidden="true"><i
                                    class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" name="mail" id="isim" class="form-control" placeholder="Mail adresini girin" value={{mail}}>

                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="password" id="pass" class="form-control"
                                placeholder="Şifreyi girin">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Giriş Yap</button>
                        
                    </form>
                    <div class="form-group">
                            <br><br>
                            <a href="/" class="btn btn-danger" id="buton-anasayfa">Anasayfaya git</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>